.SigninPage
  .signheader
    %b= link_to "ログイン", "/", class: "sign"
  .sign-contents
    .form-group
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          %label Eメール
          = f.email_field :email, class:"form-control", placeholder: "Eメールを入力してください", autofocus: true, autocomplete: "email"
          %label パスワード(半角英数字)
          = f.password_field :password, class:"form-control", placeholder: "6文字以上", autocomplete: "new-password"
        .actions
          = f.submit "ログイン", class: "submitbtn"
      = render "devise/shared/links"