.toppage
  .header
    .subtitle
      %h1= link_to "Take Notes", "/", class: 'apptitle'
    - if user_signed_in?
      .user_nav.sign
        = link_to "ログアウト", destroy_user_session_path, class:"post",method: :delete
        = link_to  "新規作成", new_memo_path, class: "post"
    - else
      .sign
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'
  - if @memos.present?
    .main-contents
      %ul.left-contents
        - @memos.each do |memo|
          %li.list
            .list-title
              = memo.title
            .list-date 
              = memo.updated_at.to_s(:datetime_jp)
      %ul.right-contents
        - @memos.each do |memo|
          %li.text.hide
            .text-date
              = memo.updated_at.to_s(:datetime_jp)
            .edit-delete-btn
              .delete-btn
                = link_to '削除', "/memos/#{memo.id}", class: "ed-btn", method: :delete
              .edit-btn 
                = link_to '編集', "/memos/#{memo.id}/edit", class: "ed-btn", method: :get
            .text-content
              = memo.content
  - else
    %h2.first-title メモを取ろう
